.event-container{

  display: flex;
  width: 90%;
  margin: 30px auto;
}
.event-container .event-image{
  width: 40%;
}
.event-container .event-image img{
  max-width: 100%;
}

.event-container .event-main-content{
  width: 60%;
  padding: 20px;
}
.random-color, .other-events-container .regular-event-container{
  min-height: 250px;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-shadow: 10px 9px 16px -14px rgba(63,63,63,1);
  -moz-box-shadow: 10px 9px 16px -14px rgba(63,63,63,1);
  box-shadow: 10px 9px 16px -14px rgba(63,63,63,1);
border-radius: 3px;
}
.random-color-1{
  background-color:  #B3E9C7;
  color: #3f3f3f;
}
.random-color-2{
  background-color:  #8367C7;
  color: #EFEFEF;
}
.random-color-3{
  background-color:  #F991CC;
  color: #EFEFEF;
}
.random-color-4{
  background-color: #FFFF82;
  color: #3f3f3f;
}
.random-color-4 h2, .random-color-1 h2{
  border: 3px solid #3f3f3f;
}
.random-color-2 h2, .random-color-3 h2{
  border: 3px solid #EFEFEF;
}

.random-color h2, .other-events-container .regular-event-container h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50% );
  display: block;
  margin: 0;
  width: 85%;
  text-align: center;
  font-weight: 900;
  padding: 10px;
}

.other-events-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.other-events-container .regular-event-container{
  min-width: 150px;
  width: 40%;
  margin: 0px 10px;
  background-color: #27aae3;
}
.other-events-container .regular-event-container h2{
  color: #EFEFEF;
    border: 3px solid #EFEFEF;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead{
  border-color: #8b8b8b;
}
.fc-today {
    background: #F0DCCA !important;

}
.fc-event-container{
  cursor: pointer;
}

#event-info-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50% );
  display: none;
  padding: 20px;
  background-color: #ffffff;
  z-index: 100;
}
.close-event-container{
  width: 100%;
  text-align: right;
}
