---
title: Events
layout: default
---

<div class="main-content">
	{% for event in site.events %}


		<div class="event-container">
			<div class="event-image">
				{% if event.display_image != "" %}
					<img src="{{event.display_image}}"/>
				{% else %}
					<img src="#" />
				{% endif %}
			</div>
			<div class="event-main-content">
				<div class="event-header">
					<h1>{{ event.title }}</h1>
					<h4>{{ event.starts_at  | date: "%m/%d/%Y"  }}</h4>
					<h4>{{ event.starts_at  | date: "%I:%M %p"  }}</h4>
					<h4>{{ event.ends_at  | date: "%I:%M %p"  }}</h4>

				</div>
				<div class="event-description">
					{{event.content}}
				</div>
			</div>
		</div>

	{% endfor %}
</div>
