---
title: Events
layout: default
css: events.css
javascript: event.js
---

<div class="main-content">
	<div class="col-md-12 col-sm-12 col-xs-12 gray-background regular-padding-section">
		<h1 class="main-header dark-gray-font"><span class="light-blue-underline">Upcoming</span> Events</h1>
		{% for event in site.events %}


			<div class="event-container">
				<div class="event-image">
					{% if event.display_image != "" %}
						<img src="{{event.display_image}}"/>
					{% else %}
						<div class="random-color" title="{{event.title}}">
							<h2>{{event.title}}</h2>
						</div>
					{% endif %}
				</div>
				<div class="event-main-content">
					<div class="event-header">
						<h1>{{ event.title }}</h1>
						<div class="event-date-container">

							{% assign start_date = event.starts_at | date: "%-d/%m"  %}
							{% assign end_date = event.ends_at | date: "%-d/%m"  %}
							{% if start_date == end_date   %}
							<div class="date-container">
								<span class="is-bold">Date:</span> <span>{{ event.starts_at  | date: "%m/%d/%Y"  }}</span>
							</div>
							<div class="time-container">
								<span class="is-bold">Time:</span> <span>{{ event.starts_at  | date: "%I:%M %p"  }}</span> - <span>{{ event.ends_at  | date: "%I:%M %p"  }}</span>
							</div>

							{% else %}
							<div class="start-date-container">
								<span class="is-bold">Start Date:</span> <span>{{ event.starts_at  | date: "%m/%d/%Y"  }}</span> at <span>{{ event.starts_at  | date: "%I:%M %p"  }}</span>
							</div>
							<div class="end-date-container">
								<span class="is-bold">End Date:</span> <span>{{ event.ends_at  | date: "%m/%d/%Y"  }}</span> at <span>{{ event.ends_at  | date: "%I:%M %p"  }}</span>
							</div>
							{% endif %}
						</div>

					</div>
					<div class="event-description">
						{{event.content}}
					</div>
				</div>
			</div>

		{% endfor %}
	</div>
</div>
