<div class="col-md-12 col-sm-12 col-xs-12 footer dark-gray-background footer gray-font lato">
  <div class="row no-padding">
    <div class="col-md-3 col-md-offset-1 col-sm-display-none no-padding">
          <img src="images/cross-2-design-blue-white-text@large.png" alt="" style="width:100%;">
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12 no-padding footer-links-container">
      <div class="col-md-4 col-sm-6 col-xs-6 no-padding">
        <h5 class="header-text">Quick Links</h5>
        <a href="/">Home</a>
        <a href="/about-us.html">About Us</a>
        <a href="/about-us.html#statement-of-faith">Statement of Faith</a>
        <a href="/location.html">Location</a>
        <a href="/visitors.html">First Time Visitors</a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 no-padding">
        <h5 class="header-text">Ministries</h5>
        <a href="/bible-studies.html">Bible Studies</a>
        <a href="/open-gym.html">Open Gym</a>
        <a href="/events.html">Events</a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 no-padding footer-other-links-container">
        <h5 class="header-text">Other</h5>

      <a href="/contact-us.html">Contact Us</a>
      <a href="/media.html">Photos</a>
      <a href="https://www.facebook.com/profile.php?id=100079114947412">Facebook Group</a>
      </div>
      <div class="col-lg-0 col-sm-6 col-xs-6 no-padding footer-logo-container">
            <img src="images/cross-2-design-blue-white-text@large.png" alt="" style="width:80%;">
      </div>
    </div>

  </div>
  <div class="row footer-second-row">
    <div class="col-md-12 col-sm-12 col-xs-12 no-padding center-text">
      <div class="col-md-4 col-sm-4 no-padding">
        <div class="address-container">
          <i class="fas fa-1_5x fa-location-arrow"></i>
          <span>53-71 72nd Place Maspeth, NY 11378</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 no-padding">
        <div class="email-container">
          <i class="fas fa-1_5x fa-envelope-square"></i>
          <span>info@maspethbiblechurch.com</span>
        </div>

      </div>
      <div class="col-md-4 col-sm-4 no-padding">
        <div class="facebook-container">
          <a href="https://www.facebook.com/Maspeth-Bible-Church-113398265360849/">
            <i class="fab fa-1_5x fa-facebook-square"></i>
            <span>Facebook</span>
          </a>
        </div>
        </div>
    </div>
  </div>

</div>
