<div class="main-image-container">
  {% if page.title == "Home"%}
  <div class="col-md-5 col-sm-6 col-xs-7 main-image-container-panel royal-blue-background no-padding">

    <div class="main-image-container-panel-text">
      Jesus said,
      "I have come that they may have life, and have it to the full"
    </div>
  </div>
  <div class="col-md-7 col-sm-6 col-xs-5 full-height main-image-container-right no-padding"></div>
  {% endif %}
</div>
<div class="main-navbar">
  {% if page.title == "Home"  %}
  <div><a href="index.html" class="active-link" >Home</a></div>
  {% else %}
    <div><a href="index.html" >Home</a></div>
  {% endif %}

  {% if page.title == "About Us"  %}
    <div><a class="active-link"  href="about-us.html">About Us</a></div>
  {% else %}
      <div><a href="about-us.html">About Us</a></div>
  {% endif %}

  {% if page.title == "Events"  %}
    <div><a class="active-link"  href="events.html">Events</a></div>
  {% else %}
      <div><a href="events.html">Events</a></div>
  {% endif %}

  {% if page.title == "Contact Us"  %}
    <div><a class="active-link" href="contact-us.html">Contact</a></div>
  {% else %}
      <div><a href="contact-us.html">Contact</a></div>
  {% endif %}

  {% if page.title == "Open Gym"  %}
    <div><a class="active-link" href="open-gym.html">Open Gym</a></div>
  {% else %}
      <div><a href="open-gym.html">Open Gym</a></div>
  {% endif %}
  {% if page.title == "Free Cycle"  %}
    <div><a class="active-link" href="free-cycle.html">Free Cycle</a></div>
  {% else %}
      <div><a href="free-cycle.html">Free Cycle</a></div>
  {% endif %}
  <span class="mobile-menu-open"><i class="fas fa-bars"></i></span>
</div>
