<div class="col-md-12 col-sm-12 col-xs-12 gray-background regular-padding-section location-container">
	<!-- <h1 class="main-header full-width center-text light-blue-font">
		 We are located at:
	</h1> -->
	<div class="location-container-appear" {% if page.animate-location%} data-aos="fade-up" data-aos-duration="1500" {% endif %}>
		<h1 class="main-header center-text"><span class='light-blue-underline'>We</span> Are Located at:</h1>
		<div class="location-text half-width center-text center-div">
			<span><i class="fas fa-map-marker-alt fa-3x location-icon light-blue-font"></i></span><p class="lato light-blue-font">53-71 72nd Place Maspeth, NY 11378</p>
		</div>
		<div class="location-map">
					<div class="col-md-12 col-xs-12 col-sm-12">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.472701569717!2d-73.89298168492816!3d40.729623044474785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25ef64cbe5d61%3A0xd9417e50c6256bd4!2sMaspeth+Bible+Church!5e0!3m2!1sen!2sus!4v1534382814672" width="100%" height="auto"  frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
		</div>
	</div>

</div>
