<div class="col-md-12 col-sm-12 col-xs-12 royal-blue-background regular-padding-section">
  <h1 class="main-header full-width center-div center-text white-font">
    We Would Love for You to <span class="lobster">Visit</span> on Sunday!
  </h1>
    <div class="service-time-flexbox lato">
      <div class="white-font">
        <span class="orange-underline">9:00 AM</span> <span class="service-time-description">Worship & Body Ministry Meeting</span>
      </div>
      <div class="white-font">
        <span class="orange-underline">10:30 AM</span><span class="service-time-description">Fun & Fellowship</span>
      </div>
      <div class="white-font">
        <span class="orange-underline">11:00 AM</span><span class="service-time-description">Bible Study</span>
      </div>
    </div>
    <div class="other-meeting-times-container center-div center-text">
      <a href="/" class=" white-font">Or join us for our other meetings!</a>
    </div>
</div>
